@charset "UTF-8";

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-boxubs;
}
.terra{
    background-color: darkorange;
    position: absolute;
    width: 298.23px;
    padding: 20%;
}
h1{
    position: absolute;
    top: 10%;
    left: 41%;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
}
.logo {
    background-color: yellow;
    border-radius: 100%;
    position: absolute;
    padding: 2%;
    top: 68px;
    left: 2px;
}
.logo1 {
    background-color: white;
    border-radius: 100%;
    position: absolute;
    padding: 2%;
    left: 17.5%;
    top: 20px;
}
.menu1 {
    position: absolute;
    transform: translate(-138% -8%);
    top: 142%;
    left: -8%;
    border-radius: 5px;
    padding: 20px;
    width: 285%;
    background-color: white;
    box-shadow: 0px 0px 2px black;
}

input {
    position: absolute;
    top: 0px;
    padding: 12px;
    border: none;
    outline: none;
    box-shadow: -0.10px 0px 0px black;
}

.b1 {
    margin-left: -20px;
    border-end-start-radius: 5px;
    border-top-left-radius: 5px;
    width: 50%;
    cursor: pointer;
}
.b2 {
    
    margin-left: 44.4%;
    width: 50%;
    border-end-end-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
}

div.men{
    position:absolute;
    top: 180%;
    left: -79%;
    padding: 248.5px;
}
div#a1{
    background-image: url(../img/4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}